* {
    border: none;
    border-radius: 0;
    font-family: Ubuntu;
    font-size: 14px;
    min-height: 0;
    background: transparent;
}

window#waybar {
    color: white;
    background: rgba(40, 40, 40, 0.82);
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray {
		padding: 0px 3px;
    margin: 0px 5px;
    background: transparent;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

#battery.max:not(.charging) {
    color: green;
}

#battery.good:not(.charging) {
    color: green;
}

#battery.low:not(.charging) {
    color: white;
}

@keyframes blinkwarning {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: yellow;
    animation-name: blinkwarning;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blinkcritical {
    to {
        background-color: red;
        color: black;
    }
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blinkcritical;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-layout {
    font-family: mono;
    min-width: 45px;
    background: transparent;
}

#custom-focusedclient {
    font-family: mono;
    color: #eeeeee;
    background: rgba(85, 0, 0, 0.82);
    padding: 0 10px 0 1px
}

#tray {
}

#custom-dwl_layout {
    font-family: mono;
    min-width: 45px;
    background: transparent;
}

#custom-dwl_title {
    font-family: mono;
    color: #eeeeee;
    background: rgba(85, 0, 0, 0.82);
    padding: 0 10px 0 1px
}

#custom-dwl_tag {
    font-family: mono;
    color: #555555;
    min-width: 25px;
}

#custom-dwl_tag.selected {
    font-family: mono;
    color: #eeeeee;
    background: rgba(85, 0, 0, 0.82);
    min-width: 25px;
}

#custom-dwl_tag.urgent {
    background-color: #eeeeee
}

#custom-dwl_tag.active {
    border-top: 3px solid #555555;
}

#custom-dwl_tag.active.selected {
    border-top: 3px solid white;
}

#workspaces button {
    font-family: mono;
    color: #555555;
    min-width: 10px;
    border-top: 3px solid #555555;
}

#rworkspaces button.persistent {
    border-top: 3px solid #555555;
    background: rgba(40, 40, 40, 0.82);
}

#workspaces button.visible.active {
    border-top: 3px solid white;
}

#workspaces button.visible.empty {
    border-top: 3px solid transparent;
}

#workspaces button.visible {
    font-family: mono;
    color: #eeeeee;
    background: rgba(85, 0, 0, 0.82);
    min-width: 10px;
}

#workspaces button.active {
    border-top: 3px solid #555555;
}

#workspaces button.empty {
    border-top: 3px solid transparent;
}

#workspaces button.urgent {
    background-color: #eeeeee
}

#custom-dwl_tag.active {
    border-top: 3px solid #555555;
}

#custom-dwl_tag.active.selected {
    border-top: 3px solid white;
}
